*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(8, 8, 34);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}
header{
    display: flex;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    
}
li{
    padding: 24px;
    list-style-type: none;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.intro{
    color:rgb(3, 118, 5);
    margin-top: 2%;
}
.intro-2{
    padding: 2% 20%;
    color: brown;
    width: 90%;
    
}
.skills{
    padding: 3%;
}
.jsd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    
}
.image{
    width: 100px;
}
.aimage{
    width: 100%;
    border-radius: 3px;
}
.aimage1{
    width: 100%;
    border-radius: 3px;
}
.contact-section{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding:3% 10%;
}
.d{
    margin-top: 10px;
    margin-bottom: 20px;
}
a{
    color: brown;
    text-decoration: none;
    padding: 10px 0;
}
.we{
    padding-left: 30px;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-img{
    width: 270px;
}
.int{
    color: crimson;
    margin-top: 20px;
}
@media(max-width:650px){
    .main{
        display: flex;
    }
    .intro-2{
        padding: 0 2px;
    }.jsd{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }.contact-section{
        display: flex;
        flex-direction: column;
    }
}